
@media only screen and (min-width: 992px) {
    .eventScroll{
        height: calc(100vh - 15vh);
        overflow-y: scroll;
    }
    .currentEventScroll{
        height: calc(100vh - 5px);
        overflow-y: scroll;
    }

    .cardDetailsMargin {
        margin-bottom: 0.5rem;
    }
}